@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

:root {
    --primary-color-1: #434B47;
    --primary-color-2: #969683;
    --primary-color-3: #5E7461;
    --primary-color-4: #F0F0EC;
    --primary-color-5: #284734;
    --secondary-light-color: #f5f5f5;
    --primary-font: 'Dosis', sans-serif;
    --button-red: #FA5757;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: var(--primary-color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__nav {

}

.header__nav-icon {
    font-size: 2rem;
    color: white;
}

.header__nav-items a {
    text-decoration: none;
    color: white;
    font-family: var(--primary-font);
    font-size: 2rem;
}

.header__nav-items {
    display: none;
    background-color: var(--primary-color-3);
}

.header__nav input {
    visibility: hidden;
}

input:checked ~ .header__nav-items {
    display: flex;
    flex-direction: column;
}

/* Home page */

.hero {
    background-image: url(images/home/02-day.jpg);
    background-size: cover;
    width: 100vw;
    height: 19rem;
}

/* .home-page-wrapper {
    background-color: #fff;
    display: grid;
    grid-template-columns: 100%;
    margin: 0.6rem 1.25rem;
} */

.date-room-picker--search {
    background-color: var(--primary-color-3);
    color: white;
    font-family: var(--primary-font);
    font-size: 1rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.25rem;
    margin: 0.6rem 1.25rem;
}

.date-room-picker--search input,
.date-room-picker--search select,
.date-room-picker--search option {
    font-family: var(--primary-font);
    border-radius: 3px;
    border: none;
    margin: 0.3rem 0 1.25rem 0;
    height: 2.25rem;
}

.button--search {
    background-color: var(--primary-color-5);
    color: white;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 0.2rem;
    grid-column: span 2;
}

.cottage {
    margin: 0 1.25rem;
}

.cottage__info {
    text-align: center;
    font-family: var(--primary-font);
}

.cottage__info h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

.cottage__info p {
    font-size: 1rem;
}

.cottage-card {
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
}

.cottage-card img {
    max-height: 19rem;
    width: 100%;
}

.cottage-card h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.cottage-card__icons--first-group {
    background-color: var(--secondary-light-color);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 2rem;
}

.cottage-card__icons--second-group {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.cottage-card__icons--third-group {
    display: flex;
    justify-content: center;
    padding-bottom: 1.25rem;
}

.button--red {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    background-color: #fff;
    color: var(--button-red);
    border: 1.5px solid var(--button-red);
    border-radius: 3px;
    padding: 1.25rem;
    margin-bottom: 2rem;
}

.experiences__container {
    background-color: var(--primary-color-4);
    font-family: var(--primary-font);
    text-align: center;
    padding: 0.5rem 1.25rem;
}

.experiences__divide-line {
    height: 2px;
    background: rgba(67, 75, 71, 0.5);
    margin: 1rem 3rem 2rem 3rem;
}

.experiences__container h2 {
    font-size: 2rem;
    font-weight: 600;
}

.experiences__container h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

.experiences__container p {
    font-size: 1rem;
}

.newsletter-signup {
    background-color: var(--primary-color-3);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

.newsletter-signup h4 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.newsletter-signup p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

.newsletter-signup input {
    height: 3.8rem;
    border: none;
    border-radius: 3px;
    padding: 2rem;
    margin-bottom: 0.8rem;
}

.button--subscribe {
    background-color: var(--primary-color-5);
    color: #fff;
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 1rem;
}

.newsletter-signup__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer {
    background-color: var(--primary-color-1);
    color: #fff;
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.footer img {
    margin-right: auto;
    margin-bottom: 2.5rem;
}

.footer h4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer a:last-of-type {
    margin-bottom: 0.5rem;
}

.footer p {
    font-size: 1.2rem;
    margin: 0.5rem 0 1rem 0;
}


/* About page */

.about-container,
.facilities-container {
    margin: 1.25rem;
    text-align: center;
    font-family: var(--primary-font);
}

.about-container h3,
.facilities-container h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.about-container p,
.facilities-container p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.facilities-container h4 {
    font-size: 1.5rem;
    font-weight: 400;
}


/* Booking page */


.main {
    margin: 1.25rem;
}

.date-room-picker--booking {
    background-color: var(--primary-color-3);
    font-family: var(--primary-font);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    padding: 0 1.25rem 1.25rem 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 3px;
}

.date-room-picker--booking h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.6rem auto;
    grid-column: span 2;
}

.date-room-picker--booking input,
.date-room-picker--booking select {
    height: 2.25rem;
    border: none;
    border-radius: 3px;
}

.date-room-picker--booking input[type=date] {
    grid-column: span 2;
}

.date-room-picker--booking input[data-icon='key-icon'] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='14' viewBox='0 0 16 14' fill='none'%3E%3Cg clip-path='url(%23clip0_253_773)'%3E%3Cpath d='M10.4428 3.38235e-08C9.74574 -7.98511e-05 9.0572 0.141346 8.42613 0.414229C7.79506 0.687112 7.23694 1.08475 6.79143 1.5789C6.34593 2.07304 6.02397 2.65155 5.84844 3.27333C5.67291 3.89511 5.64812 4.54489 5.77582 5.1765L0 10.5V13.125C0 13.3571 0.10002 13.5796 0.278057 13.7437C0.456094 13.9078 0.697564 14 0.949346 14H1.89869V13.125H3.79739V11.375H5.69608V9.625H7.59477L8.82702 8.48925C9.4784 8.70635 10.1734 8.78944 10.8633 8.73267C11.5532 8.6759 12.2213 8.48065 12.8207 8.16063C13.42 7.84061 13.9361 7.40358 14.3327 6.88019C14.7294 6.35681 14.9969 5.75976 15.1166 5.13095C15.2363 4.50214 15.2052 3.85681 15.0255 3.24025C14.8459 2.62369 14.522 2.05083 14.0766 1.5619C13.6313 1.07296 13.0752 0.679778 12.4474 0.409957C11.8197 0.140137 11.1355 0.000210585 10.4428 3.38235e-08ZM11.8649 4.37675C11.6779 4.37669 11.4926 4.34268 11.3198 4.27664C11.147 4.21061 10.99 4.11385 10.8578 3.99189C10.7256 3.86993 10.6207 3.72516 10.5492 3.56585C10.4776 3.40653 10.4408 3.23579 10.4409 3.06337C10.441 2.89096 10.4779 2.72024 10.5495 2.56097C10.6212 2.4017 10.7262 2.25699 10.8585 2.13512C10.9908 2.01324 11.1479 1.91658 11.3207 1.85065C11.4936 1.78472 11.6788 1.75082 11.8659 1.75087C12.2437 1.75099 12.606 1.88943 12.873 2.13573C13.1401 2.38204 13.29 2.71604 13.2899 3.06425C13.2898 3.41246 13.1396 3.74637 12.8723 3.99251C12.6051 4.23865 12.2427 4.37687 11.8649 4.37675Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_253_773'%3E%3Crect width='15.1895' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right;
        font-family: var(--primary-font);
    }