:root {
    --primary-color-1: #434B47;
    --primary-color-2: #969683;
    --primary-color-3: #5E7461;
    --primary-color-4: #F0F0EC;
    --primary-color-5: #284734;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: var(--primary-color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__nav {

}

.header__nav-icon {
    font-size: 2rem;
    color: white;
}

.header__nav-items a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.header__nav-items {
    display: none;
    background-color: var(--primary-color-3);
}

.header__nav input {
    visibility: hidden;
}

.header__nav input:checked ~ .header__nav-items {
    display: flex;
    flex-direction: column;
}